<div style="text-align:left;margin:5px">
    <h4 id="top">About Pemgarda</h4>
    <p>
        In March 2024, Invivyd announced FDA authorization for Emergency Use of Pemgarda (formely VYD-222) for pre-exposure prophylaxis (PREP) of COVID-19.
        PEMGARDA (pemivibart) is authorized in the U.S. for PrEP of COVID-19 in certain adults and adolescents (see FDA FAQ below for details).
    </p>

    <p>Early on, we are trying to share information to help people who may benefit from Pemgarda get educated so they can navigate the medical estabishment.</p>

    <p>
        Given it is so new, protocols are still being put in place by individual hospitals, infusions centers and insurance companies to access it. The crowdsourced information below is what is known as of 5/11/2024.<br />
        <br />
        Should you learn of new/better information please send it to us via an email to <a href="mailto:covidsafe@relyeas.net">CovidSafe@relyeas.net</a>, so we can share it with others.<br />
        <br />
        DISCLAIMER: We are trying to be helpful, but some of our information, despite our efforts, may not be correct. We encourage everyone to call their local providers to validate the information for their particular circumstance.<br />
    </p>

    <ul>
        <li><a href="/pemgarda#engage-with-doctors">Engaging with your Doctors</a> to get a prescription</li>
        <li><a href="/pemgarda#finding-infusion-centers">Finding an infusion center</a> which can administer Pemgarda</li>
        <li><a href="/pemgarda#navigating-payment">Navigating Payment</a> via Medicare or Private Insurace</li>
    </ul>

    <h4 id="engage-with-doctors">Engaging with your Doctors to get a prescription</h4>
    <div style="margin-left:25px">
        Here is a note that you could share in your portal for your local hospital system. Perhaps this summary will help others in pursuit of Pemgarda:<br />
        <br />
        Template for a Message to Doctor:<br />
        <br />
        <div style="margin-left:25px">
            Pemgarda is requested for <b>&lt;patient name&gt</b>.<br />
            Pemgarda is a pre-exposure prophylactic (PrEP) monoclonal antibody recently given Emergency Use Authorization (EUA) by the FDA for prevention of Covid in high risk patients. It is given by IV.<br />
            <br />
            - Pemgarda web site: <a href="https://pemgarda.com" target="_blank">pemgarda.com</a><br />
            - US FDA: <a href="https://www.fda.gov/media/177066/download" target="_blank">FDA FAQ on Pemgarda</a> [1]<br />
            - US CDC: <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/treatments-for-severe-illness.html" target="_blank">CDC Covid-19 Treatment and Preventive Medication</a> [2] (include Pemgarda)<br />
            <br />
            If not yet included, the drug will need to be added to the <b>&lt;institution name&gt</b> formulary. (list of approved medicines)<br />
            It can be ordered from major distributors, details are in this guide: <a href="https://www.pemgarda.com/wp-content/uploads/2024/04/PEMGARDA-Product-Ordering-Guide_041624.pdf" target="_blank">Pemgarda.com's ordering guide</a> [3]<br />
            <br />
            Provider fact sheet : <a href="https://invivyd.com/wp-content/uploads/2024/03/EUA-122-PEMGARDA-Healthcare-Providers-Fact-Sheet-FINAL-v1.0-22Mar2024.pdf" target="_blank">invivyd.com Healthcare Provider Fact Sheet</a> [4]<br />
            <br />
            It will be covered by Medicare akin to a Covid vaccine.The CMS codes are Q0224 for the drug and M0224 for the infusion.<br />
            [for full details search for 'pemivibart' (generic name for Pemgarda) or 'Invivyd' (company name) on the <a href="https://www.cms.gov/medicare/payment/part-b-drugs/vaccine-pricing" target="_blank">Vaccine Pricing info page from Medicare</a> [5]]<br/>
            <br />
            <b>&lt;Patient name&gt</b> has <b>&lt;insurer name&gt</b> commercial insurance. Since Pemgarda is new to the market, most commercial insurers including <b>&lt;insurer name&gt</b> have not yet added it to their drug lists or completed normal approval procedures.<br />
            Some insurance companies have advised a generic prior authorization form be submitted for the patient with the above Medicare CMS codes, marked Urgent to expedite. The Medicare CMS codes should allow the insurer to see the drug in their system where they otherwise can’t.<br />
            It’s understood this PA (prior authorization) will be denied, however the submission should open a case so that an individual approval process can begin. Once <b>&lt;insurer name&gt</b> has the info it needs and the process complete,they should approve.<br />
            <br />
            List of Web Addresses:<br />
            [1] https://www.fda.gov/media/177066/download<br />
            [2] https://www.cdc.gov/coronavirus/2019-ncov/your-health/treatments-for-severe-illness.html<br />
            [3] https://www.pemgarda.com/wp-content/uploads/2024/04/PEMGARDA-Product-Ordering-Guide_041624.pdf<br />
            [4] https://invivyd.com/wp-content/uploads/2024/03/EUA-122-PEMGARDA-Healthcare-Providers-Fact-Sheet-FINAL-v1.0-22Mar2024.pdf<br />
            [5] https://www.cms.gov/medicare/payment/part-b-drugs/vaccine-pricing<br/>
            <br />
            Thank you<br />
            <br />
        </div>
    </div>

</div

@code {

}
