<div style="text-align:left;margin:5px">
    <h4 id="finding-infusion-centers">Finding an infusion center which can administer Pemgarda</h4>
    <div style="margin-left:25px">
        Any infusion center should be able to administer Pemgarda. There are about 6,000 infusion centers in the United States.<br />
        However, infusion centers likely need to add it to their list of approved medicines. Our goal is to provide a list of infusion centers that can administer Pemgarda...but until then this locator of all 6,000 infusion centers in the nation may help you get contact information for nearby centers:<a href="https://www.infusionaccessfoundation.org/locator/" target="_blank">infusionaccessfoundation.org/locator/</a><br />
        <br />
        Contacting one or more centers near you, will provide a starting point to find an infusion center that can administer Pemgarda. They may not know about Pemgarda yet, communicating the information from the doctor message above may help them learn about it.<br />
        <br />
    </div>
</div
@code {

}
