<div style="text-align:left;margin:5px">
    <h4 id="finding-infusion-centers">Finding an infusion center which can administer Pemgarda</h4>

    <div style="margin-left:25px">
        ** 1) Pemgarda.com Site Locator: <a href=https://www.pemgarda.com/patient/infusion-center-locator/ target="_blank">pemgarda.com/patient/infusion-center-locator</a>
    </div>
    <div style="margin-left:25px">
        ** 2) CovidSafe.fyi Site Locator:<br/>
    </div>
</div
@code {

}
