<div style="text-align:left;margin:5px">
    <h4 id="navigating-payment">Navigating Payment via Medicare or Private Insurace</h4>
    <h5>Payment via Medicare</h5>
    <div style="margin-left:25px">
        Pemgarda will be covered by Medicare akin to a Covid vaccine. The CMS codes are Q0224 for the drug and M0224 for the infusion.<br />
            [for full details search for 'pemivibart' (generic name for Pemgarda) or 'Invivyd' (company name) on the <a href="https://www.cms.gov/medicare/payment/part-b-drugs/vaccine-pricing" target="_blank">Vaccine Pricing info page from Medicare</a>]<br/>
    </div>
    <br />
    <h5>Payment via Private Insurance</h5>
    <div style="margin-left:25px">
        Since Pemgarda is new to the market, most commercial insurers have not yet added it to their drug lists or completed normal approval procedures.<br />
        <br />
        It might be helpful to ask the insurance company if they have someone who deals with complex medical cases who can assist with Prior Authorization (PA) process. In addition, some hospitals systems may have a Patient Advocate who can assist. <br />
        <br />
        Some insurance companies have advised a generic prior authorization form be submitted for the patient with Medicare CMS codes (Q0224 for the drug and M0224 for the infusion), marked Urgent to expedite. The Medicare CMS codes should allow the insurer to see the drug in their system where they otherwise can’t.<br />
        Generally this PA (prior authorization) will be denied, however the submission should open a case so that an individual approval process can begin. Once <b>&lt;insurer name&gt</b> has the info it needs and the process complete,they should approve.<br />
        <br />
        We plan to add a list of the progess with different Insurance companies as soon as possible.
        <br />
    </div>
</div
@code {

}
