@page "/evusheld1"

<PageTitle>Evusheld 1</PageTitle>

<div class="App">
    <main id="main-content" class="covidgov-main">
        <div class="location-toolkit-wrap">
            <div class="toolkit">
                <div class="toolkit__wrap">N
                    <div class="toolkit__intro">
                        <a href='/'><img class="center" src="icon-192.png" alt='CovidSafe.fyi' height="96" width="96" /></a>
                        <h2>Resources to keep yourself and others safe from COVID-⁠19.</h2>
                        <p><i>Curated content from government and other trusted sites.</i></p>
                        <p>
                            <b><a href='#preventive-medicines'>Preventive Medicines</a>:</b> <a href="#vaccines">Vaccines</a>, <a href="#immunocompromised">For Immunocompromised</a><br />
                            <b><a href='#protective-measures'>Protective Measures</a>:</b> <a href="#masks">Masks</a>, <a href="#ventilation">Air Ventilation</a>, <a href="#tests">Tests</a><br />
                            <b><a href='#have-covid'>Have Covid?</a>:</b> <a href="#test-to-treat">Test-to-Treat</a>, <a href="#treatments">Treatments</a>, <a href="#longcovid">LongCovid</a>
                        </p>
                    </div>

                    <h2 id="preventive-medicines" class="line-title">Preventive Medicines</h2>

                    <div class="toolkit__boxes">
                        <div class="toolkit__box">
                            <div class="toolkit__box__icon toolkit__desktop__icon">
                                <img src="assets/img/syringe.svg" class="small" width="47" height="55" alt="Syringe Icon" />
                            </div>
                            <div class="toolkit__box__content">
                                <p>
                                    Evusheld:
                                </p>
                                &#8729; a preventive medicine that immunocompromised used between 12/2021 and 1/2023.
                                <p>
                                    Evusheld News:
                                </p>
                                &#8729; <span><a href="https://www.fda.gov/drugs/drug-safety-and-availability/fda-authorizes-revisions-evusheld-dosing" rel="noopener">6/2022: FDA authorizes Evusheld doses every 6 months (since last 150/150 dose)</a> (fda.gov)</span>
                                <br />
                                &#8729; <span><a href="https://www.fda.gov/emergency-preparedness-and-response/mcm-legal-regulatory-and-policy-framework/expiration-dating-extension#COVIDtherapeutics" rel="noopener">6/2022: Evusheld expiration dates adjusted, adding 6 months</a> (fda.gov)</span>
                                <br />
                                &#8729; <span><a href="https://aspr.hhs.gov/COVID-19/Therapeutics/updates/Pages/important-update-27July2022.aspx" rel="noopener">7/2022: Doctors can now order an Evusheld dose with a simple web form</a> (hhs.gov)</span>
                                <br />
                                &#8729; <span><a href="https://www.fda.gov/drugs/drug-safety-and-availability/fda-releases-important-information-about-risk-covid-19-due-certain-variants-not-neutralized-evusheld" rel="noopener">10/2022: Increased risk of COVID-19 due to certain variants not neutralized by Evusheld</a> (fda.gov)</span>
                                <br />
                                &#8729; <span><a href="https://www.fda.gov/drugs/drug-safety-and-availability/fda-announces-evusheld-not-currently-authorized-emergency-use-us" rel="noopener">1/2023: Evusheld no longer authorized for use in US</a> (fda.gov)</span>

                                <p>
                                    Evusheld2 News:
                                </p>
                                &#8729; <span><a href="https://www.astrazeneca.com/media-centre/statements/2022/first-participant-dosed-in-supernova-phase-i-iii-trial-evaluating-azd5156-for-prevention-of-covid-19.html" rel="noopener">12/2022: 1st participant dosed in SUPERNOVA Phase I/III trial evaluating AZD5156, a next-gen long-acting antibody combination, for prevention of COVID-19</a> (astrazeneca.com)</span>
                                <br />


                                <p>Evusheld Guide:</p>
                                &#8729; Tips and trick to get (the now discontinued) Evusheld: <a href="/evusheld/guide/" rel="noopener">Evusheld Guide</a>
                                <p>NO LONGER USEFUL -Evusheld Provider List:</p>
                                &#8729; <a href="/evusheld" rel="noopener">Evusheld Locator at CovidSafe.fyi/evusheld</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>